# https://medium.com/espinola-designs/manage-your-dotfiles-with-ansible-6dbedd5532bb
local:
  hosts:
    localhost
  vars:
    ansible_connection: local

    ## The organization name which is used to set different gitconfig overwritten for a specific organization.
    ## This configuration is used under the directotry ~/src/github.com/{{ github_org }}, which is the default location by ghq
    github_org: ishikawa

    ## The user directory name in Windows from WSL.
    ## It's going to be used as /mnt/c/Users/{{ host_user }} in the VSCode role
    host_user: ishikawa

    ## Install the AWS CLI
    install_aws_cli: false

    ## Install the gcloud CLI and kubernetes CLI
    install_gcloud_cli: false
    install_kubectl_cli: false
