[core]
	excludesfile = ~/.config/git/gitignore
[init]
	defaultBranch = main
[user]
	name = A. Ishikawa
	email = 10303962+at-ishikawa@users.noreply.github.com
[push]
	default = matching
[pull]
	ff = only
[color]
	ui = auto
[rebase]
	autoStash = true
	autosquash = true
[diff]
	colorMoved = zebra
[url "git@github.com:"]
	insteadOf = https://github.com/
[ghq]
	root = ~/src
# Git configuration for work
[includeIf "gitdir:~/src/github.com/org/"]
    path = ~/.config/git/work.gitconfig
