################################################################################
## System files
################################################################################
.DS_Store
*.dSYM
*.log

################################################################################
## Environment files
################################################################################
.env

################################################################################
## JavaScript files
################################################################################
node_modules

################################################################################
## Vim files
################################################################################
*.swp

################################################################################
## Emacs files
################################################################################
.dir-locals.el
.dir-locals.elc
*~
~#*~#
*.bak
*.elc
.cask

################################################################################
## Media files
################################################################################
*.mp3

################################################################################
## C files
################################################################################
*.o
a.out

################################################################################
## Latex files
################################################################################
*.aux
*.dvi


################################################################################
## Java files
################################################################################
classes
*.class
TEST-*.txt
contracts
javadoc


################################################################################
## Java files
################################################################################
__pycache__


################################################################################
## IntelliJ files
################################################################################
.idea/
