{
    {# Awesome Emacs: The CMD key is used for the Meta key only on MacOS #}
    "emacs-mcx.useMetaPrefixMacCmd": true,
    "workbench.colorTheme": "Solarized Dark",
    "workbench.preferredLightColorTheme": "GitHub Light Default",
    "workbench.preferredDarkColorTheme": "Solarized Dark",
    "git.autofetch": true,
    "gitlens.codeLens.enabled": false,
    "markdown-preview-enhanced.liveUpdate": true,

    "files.trimTrailingWhitespace": true,
    "files.eol": "\n",
    "files.autoSave": "afterDelay",

    "editor.formatOnSave": true,
    "editor.accessibilitySupport": "on",
    "editor.multiCursorModifier": "ctrlCmd",
    "editor.minimap.enabled": false,
    "editor.inlineSuggest.enabled": true,
    "[python]": {
        "editor.formatOnType": true
    },
    "vs-kubernetes": {
        "vs-kubernetes.crd-code-completion": "enabled"
    },
    "go.testFlags": [
        "-v",
    ],
    "explorer.confirmDragAndDrop": false,
    "window.autoDetectColorScheme": true,
}
