{
    "emacs-mcx.useMetaPrefixMacCmd": true,
    "workbench.colorTheme": "Solarized Dark",
    "workbench.preferredLightColorTheme": "GitHub Light Default",
    "workbench.preferredDarkColorTheme": "Solarized Dark",
    "git.autofetch": true,
    "markdown-preview-enhanced.liveUpdate": true,
    "files.trimTrailingWhitespace": true,
    "editor.accessibilitySupport": "on",
    "editor.multiCursorModifier": "ctrlCmd",
    "editor.minimap.enabled": false,
    "[python]": {
        "editor.formatOnType": true
    },
    "editor.inlineSuggest.enabled": true,
    "go.testFlags": [
        "-v",
    ],
    "files.eol": "\n",
    "files.autoSave": "afterDelay",
    "explorer.confirmDragAndDrop": false,
    "window.autoDetectColorScheme": true
}